@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ContainerViewModels
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url(/Client_assets/images/banner/banner1.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">@localizer["Blogs"]</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/home/index">@localizer["Home"]</a></li>
                <li>@localizer["Blogs"]</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- left part start -->
                    <div class="col-lg-8 col-xl-8 col-md-7">
                        <!-- blog grid -->
                        <div id="masonry" class="ttr-blog-grid-3 row">
                            @foreach (var blog in Model.Get_blogs_pagination)
                            {
                                <div class="post action-card col-xl-6 col-lg-6 col-md-12 col-xs-12 m-b40">
                                    <div class="recent-news">
                                        <div class="action-box">
                                            <img src="~/Upload/Blogs/@blog.Image" alt="" style="height: 220.72px;">
                                        </div>
                                        <div class="info-bx">
                                            <ul class="media-post">
                                                <li><a><i class="fa fa-calendar"></i>@blog.Posted_date.ToString("d/M/yyyy h:m")</a></li>
                                                <li><a><i class="fa fa-user"></i>By @blog.Publisher</a></li>
                                            </ul>
                                            <h5 class="post-title"><a href="/blog/details/@blog.Id">@blog.Title.Substring(0,32)...</a></h5>
                                            <div class="post-extra">
                                                <a href="/blog/details/@blog.Id" class="btn-link">@localizer["Read more..."]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- blog grid END -->
                        <!-- Pagination -->
                        @{
                            var prevDisable = !Model.Get_blogs_pagination.Prev ? "none" : "block";
                            var nextDisable = !Model.Get_blogs_pagination.Next ? "none" : "block";
                        }
                        <div class="pagination-bx rounded-sm gray clearfix">
                            <ul class="pagination">
                                <li class="previous">
                                    <a asp-route-pageNumber="@(Model.Get_blogs_pagination.Page_index - 1)"
                                       style="display:@prevDisable"><i class="ti-arrow-left"></i> @localizer["Prev"]</a>
                                </li>
                                <li class="next">
                                    <a asp-route-pageNumber="@(Model.Get_blogs_pagination.Page_index + 1)"
                                       style="display:@nextDisable">@localizer["Next"] <i class="ti-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Pagination END -->
                    </div>
                    <!-- left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-xl-4 col-md-5 sticky-top">
                        <aside class="side-bar sticky-top">
                            <div class="widget">
                                <h6 class="widget-title">@localizer["Search"]</h6>
                                <div class="search-bx style-1">
                                    <form asp-action="Search" role="search">
                                        <div class="input-group">
                                            <input asp-for="Search_blog.Key" name="key" class="form-control" placeholder="@localizer["Enter your keywords..."]" required>
                                            <span class="input-group-btn">
                                                <button type="submit" class="fa fa-search text-primary"></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title">@localizer["Recent Posts"]</h6>
                                <div class="widget-post-bx">
                                    @foreach (var resentBlog in Model.Get_blogs.Where(x => x.Is_active == true).OrderByDescending(x => x.Posted_date).Take(5))
                                    {
                                        <div class="widget-post clearfix">
                                            <div class="ttr-post-media"> <img src="~/Upload/Blogs/@resentBlog.Image" width="200" style="height:65.39px" alt=""> </div>
                                            <div class="ttr-post-info">
                                                <div class="ttr-post-header">
                                                    <h6 class="post-title"><a href="/blog/details/@resentBlog.Id">@resentBlog.Title.</a></h6>
                                                </div>
                                                <ul class="media-post">
                                                    <li><a><i class="fa fa-calendar"></i>@resentBlog.Posted_date.ToString("d/M/yyyy h:m")</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="widget widget-newslatter">
                                <h6 class="widget-title">@localizer["Newsletter"]</h6>
                                <div class="news-box">
                                    <p>@localizer["Enter your e-mail and subscribe to our newsletter."]</p>
                                    <form asp-controller="NewsLetter" asp-action="Save">
                                        <div class="input-group">
                                            <input asp-for="Save_news_letter.Email" required type="email" class="form-control" placeholder="@localizer["Your Email Address"]" />
                                            <input name="captchaCode" class="form-control" required placeholder="@localizer["Enter code..."]">
                                            <button name="submit" value="Submit" type="submit" class="btn black radius-no">
                                                <i class="fa fa-paper-plane-o"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <br />
                                    <img id="img-captcha" src="~/get-captcha-image" />
                                </div>
                            </div>
                            <div class="widget widget_gallery gallery-grid-4">
                                <h6 class="widget-title">@localizer["Our Gallery"]</h6>
                                <ul>
                                    @foreach (var gallery in Model.Get_galleries.Where(x => x.Is_active == true).Take(8))
                                    {
                                        <li><div><img src="~/Upload/Gallery/@gallery.Image" alt=""></div></li>
                                    }
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
</div>
