@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ContainerViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="db-breadcrumb">
    <h4 class="breadcrumb-title">@localizer["Events"]</h4>
    <ul class="db-breadcrumb-list">
        <li><a href="/admin/index"><i class="fa fa-home"></i>@localizer["Home"]</a></li>
        <li>@localizer["Events"]</li>
    </ul>
</div>
<div class="add">
    <a href="/event/add" class="btn-secondry add-item m-r5"><i class="fa fa-fw fa-plus-circle"></i>@localizer["Add New"]</a>
    <br /><br />
</div>
<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>@localizer["Events"]</h4>
            </div>
            <div class="widget-inner">
                @if (Model.Get_events.Count == 0)
                {
                    <div class="alert alert-danger">@localizer["There is no events exist"]</div>
                }
                else
                {
                    @foreach (var _event in Model.Get_events.OrderByDescending(x => x.Id))
                    {
                        string opacity = (_event.Is_active == false) ? "opacity:.5" : "opacity:1";

                        <div class="card-courses-list admin-courses" style="@opacity">
                            <div class="card-courses-media">
                                <img src="~/Upload/Events/@_event.Image" alt="" />
                            </div>
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4>@_event.Title</h4>
                                </div>
                                <div class="card-courses-list-bx">
                                    <ul class="card-courses-view">
                                        <li class="card-courses-categories">
                                            <h5>@localizer["Event Date"]</h5>
                                            @{
                                                string timing = null;

                                                if (_event.Timing == 0)
                                                {
                                                    timing = "AM";
                                                }
                                                else
                                                {
                                                    timing = "PM";
                                                }
                                            }
                                            <h4>@_event.Date.ToString("d/M/yyyy H:m") @timing</h4>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-12">
                                        <a href="/event/update/@_event.Id" class="btn green radius-xl outline">@localizer["Edit"]</a>
                                        @if (_event.Is_active == true)
                                        {
                                            <button id="@_event.Id" class="btn del red outline radius-xl ">@localizer["Delete"]</button>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- Your Profile Views Chart END-->
</div>
@section Scripts {
    <script>

        $(".del").click(function () {
            if (confirm("do you want to delete this item!")) {
                location.href = "/event/delete/" + $(this).attr("id");
            }
        })
    </script>
}