@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> option
@{ 
    var requestCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureItems = option.Value.SupportedUICultures
.Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
.ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@model ContainerViewModels
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/Upload/Logo/@Model.Get_application_intro.Logo" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Upload/Logo/@Model.Get_application_intro.Logo" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="~/Client_assets/js/html5shiv.min.js"></script>
    <script src="~/Client_assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link href="~/Client_assets/css/assets.css" rel="stylesheet" />

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Client_assets/css/typography.css" asp-append-version="true">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Client_assets/css/shortcodes/shortcodes.css">
    <link href="~/Client_assets/css/shortcodes/form.css" rel="stylesheet" />
    <link href="~/Client_assets/css/shortcodes/list.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Client_assets/css/shortcodes/widget.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/Client_assets/css/shortcodes/button.css" rel="stylesheet" asp-append-version="true" />

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Client_assets/css/style.css" asp-append-version="true">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Client_assets/css/color/color-1.css">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Client_assets/vendors/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Client_assets/vendors/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Client_assets/vendors/revolution/css/navigation.css">
    <!-- REVOLUTION SLIDER END -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">

</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <!-- Header Top ==== -->
        <header class="header rs-nav">
            <div class="top-bar">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="topbar-left">
                            <ul>
                                <li><a href="javascript:;"><i class="fa fa-phone"></i>@Model.Get_application_intro.Phone</a></li>
                                <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>@Model.Get_application_intro.Email</a></li>
                            </ul>
                        </div>
                        <div class="topbar-right">
                            <ul>
                                <li>
                                    <form asp-controller="Culture"
                                          asp-action="SetCulture"
                                          asp-route-returnUrl="@returnUrl">
                                        <select name="culture"
                                                onchange="this.form.submit();"
                                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                                class="header-lang-bx">
                                            <option value="en" data-icon="flag">@localizer["English"]</option>
                                            <option value="ar" data-icon="flag">@localizer["Arabic"]</option>
                                        </select>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-header navbar-expand-lg">
                <div class="menu-bar clearfix">
                    <div class="container clearfix">
                        <!-- Header Logo ==== -->
                        <div class="menu-logo">
                            <a href="/home/index"><img src="~/Upload/Logo/@Model.Get_application_intro.Logo" alt=""></a>
                        </div>
                        <!-- Mobile Nav Button ==== -->
                        <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- Author Nav ==== -->
                        <div class="secondary-menu">
                            <div class="secondary-inner">
                                <ul>
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Facebook))
                                    {
                                        <li><a href="@Model.Get_soical.Facebook" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Linkedin))
                                    {
                                        <li><a href="@Model.Get_soical.Linkedin" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Twitter))
                                    {
                                        <li><a href="@Model.Get_soical.Twitter" class="btn-link"><i class="fa fa-twitter"></i></a></li>
                                    }
                                    <!-- Search Button ==== -->
                                    <li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Search Box ==== -->
                        <div class="nav-search-bar">
                            <form asp-controller="Course" asp-action="Search" id="frm">
                                <input asp-for="@Model.Search_course.Key" name="Key" type="text" class="form-control" placeholder="@localizer["Type to search"]" required>
                                <span><i class="ti-search search"></i></span>
                            </form>
                            <span id="search-remove"><i class="ti-close"></i></span>
                        </div>
                        <!-- Navigation Menu ==== -->
                        <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                            <div class="menu-logo">
                                <a href="/home/index"><img src="~/Upload/Logo/@Model.Get_application_intro.Logo" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/home/index">@localizer["Home"]</a>
                                </li>
                                <li>
                                    <a href="javascript:;">@localizer["Pages"] <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:;">@localizer["About"]<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/home/about">@localizer["About"]</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">@localizer["Event"]<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/event/getAll">@localizer["Event"]</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;">@localizer["FAQ's"]<i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/faq/getAll">@localizer["FAQ's"]</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="add-mega-menu">
                                    <a href="/course/getAll">@localizer["Our Courses"]</a>
                                </li>
                                <li>
                                    <a href="javascript:;">@localizer["Blog"] <i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/blog/getAll">@localizer["Blog"]</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="nav-social-link">
                                @if (!string.IsNullOrEmpty(Model.Get_soical.Facebook))
                                {
                                    <a href="@Model.Get_soical.Facebook"><i class="fa fa-facebook"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(Model.Get_soical.Linkedin))
                                {
                                    <a href="@Model.Get_soical.Linkedin"><i class="fa fa-linkedin"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(Model.Get_soical.Twitter))
                                {
                                    <a href="@Model.Get_soical.Twitter"><i class="fa fa-twitter"></i></a>
                                }
                            </div>
                        </div>
                        <!-- Navigation Menu END ==== -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Top END ==== -->
        <!-- Content -->
        @RenderBody()
        <!-- Content END-->
        <!-- Footer ==== -->
        <footer>
            <div class="footer-top">
                <div class="pt-exebar">
                    <div class="container">
                        <div class="d-flex align-items-stretch">
                            <div class="pt-logo mr-auto">
                                <a href="/home/index"><img src="~/Upload/Logo/@Model.Get_application_intro.Logo" alt="" style="height:62px;" /></a>
                            </div>
                            <div class="pt-social-link">
                                <ul class="list-inline m-a0">
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Facebook))
                                    {
                                        <li><a href="@Model.Get_soical.Facebook" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Linkedin))
                                    {
                                        <li><a href="@Model.Get_soical.Linkedin" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Get_soical.Twitter))
                                    {
                                        <li><a href="@Model.Get_soical.Twitter" class="btn-link"><i class="fa fa-twitter"></i></a></li>
                                    }
                                </ul>
                            </div>
                            <div class="pt-btn-join">
                                <a href="/course/getAll" class="btn ">@localizer["Show Courses"]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                            <div class="widget">
                                <h5 class="footer-title">@localizer["Subscribe In Newsletter"]</h5>
                                <p class="text-capitalize m-b20">@localizer["Subscribe to receive all new"]</p>
                                <div class="subscribe-form m-b20">
                                    <form asp-controller="NewsLetter" asp-action="Save">
                                        <div class="input-group">
                                            <input asp-for="@Model.Save_news_letter.Email" required class="form-control" placeholder="@localizer["Your Email Address"]" type="email">
                                            <input name="captchaCode" required class="form-control" placeholder="@localizer["Enter Code"]">
                                            <span class="input-group-btn">
                                                <button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                    <br />
                                    <img id="img-captcha" src="~/get-captcha-image" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">@localizer["Pages"]</h5>
                                        <ul>
                                            <li><a href="/home/index">@localizer["Home"]</a></li>
                                            <li><a href="/home/about">@localizer["About"]</a></li>
                                            <li><a href="/faq/getAll">@localizer["FAQ's"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">@localizer["Get In Touch"]</h5>
                                        <ul>
                                            <li><a href="/blog/getAll">@localizer["Blog"]</a></li>
                                            <li><a href="/event/getAll">@localizer["Event"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                    <div class="widget footer_widget">
                                        <h5 class="footer-title">@localizer["Courses"]</h5>
                                        <ul>
                                            <li><a href="/course/getAll">@localizer["Courses"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                            <div class="widget widget_gallery gallery-grid-4">
                                <h5 class="footer-title">@localizer["Our Gallery"]</h5>
                                <ul class="magnific-image">
                                    @foreach (var gallery in Model.Get_galleries.Where(x => x.Is_active == true).OrderByDescending(x => x.Id).Take(12))
                                    {
                                        <li><a href="~/Upload/Gallery/@gallery.Image" class="magnific-anchor"><img src="~/Upload/Gallery/@gallery.Image" alt=""></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END ==== -->
        <button class="back-to-top fa fa-chevron-up"></button>
    </div>

    <!-- External JavaScripts -->
    <script src="~/Client_assets/js/jquery.min.js"></script>
    <script src="~/Client_assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Client_assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Client_assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Client_assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Client_assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/Client_assets/vendors/counter/waypoints-min.js"></script>
    <script src="~/Client_assets/vendors/counter/counterup.min.js"></script>
    <script src="~/Client_assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/Client_assets/vendors/masonry/masonry.js"></script>
    <script src="~/Client_assets/vendors/masonry/filter.js"></script>
    <script src="~/Client_assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/Client_assets/js/functions.js" asp-append-version="true"></script>
    <script src="~/Client_assets/js/contact.js"></script>
    <script src="~/Client_assets/js/sweetalert.min.js"></script>
    <script>
        $('.search').click(function () {
            $('#frm').submit();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
